# Dependencies
node_modules/
__pycache__/
*.pyc

# Next.js
.next/
out/
build/
dist/

# Hardhat
artifacts/
cache/
network.json

# Environment Variables
.env
.env.local

# Logs and Temp Files
*.log
deploy_log.txt
deploy_error.txt
tunnel_url.txt
ai_log.txt

# Local Storage Simulation
ipfs_storage/*
!ipfs_storage/.gitkeep

# IDE
.vscode/
.idea/
